.bg-custom{
    background-color: aliceblue;
}
.heading{
    color: green;
}
.big-img{
    width:70px ;
    height: 70px;
}
.logo-img{
    width:70px ;

}
.img-icon{
    width:70px ;
    height:70px ;
}

  






